
#body {
   background-color: black;
   font-family: 'Roboto', sans-serif;
}
#navBootStrapOverride{
    background-color: black;
    margin-bottom: 4rem;
   
}
#introdiv{
    color: white;
    
    
}
.svgLnk{
    text-decoration: none;
}
#resume-link{
    background-color: #9ef01a;
}
#email-link{
    background-color: #9ef01a;
}
